<h1>Inventory Tracker</h1>

<ul>
<% @items.each do |item| %>
    <li>
    <%= link_to item.name, item %>
    </li>
<% end %>
</ul>

<%= link_to "New Inventory Item", new_item_path %>
<br>
<%= link_to "Warehouses", warehouses_path %>