<h1>Warehouses</h1>

<ul>
<% @warehouses.each do |warehouse| %>
    <li>
    <%= link_to warehouse.name, warehouse %>
    </li>
<% end %>
</ul>

<%= link_to "New Warehouse", new_warehouse_path %>
<br>
<%= link_to "Back to Inventory Index", items_path %>
